{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Form Button</title>
    <link rel="stylesheet" href="{% static 'assets/css/loghome.css' %}">
</head>
<body>
<a href="/loghome"><button class="book-button">Form</button></a>
<form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <button class="book-button" style="margin-left:30%;">logout</button>
  </form>
</body>
</html>
